<div class="content">
  <div class="nav-side-menu">
    <div class="menu-list">
      <ul id="menu-content" class="menu-content out">
        <li data-target="#add, #add3" aria-controls="add add3" class="active">
          <a><b>Área de Configuração</b></a>
        </li>
        <ul aria-expanded="false" id="add" class="sub-menu in">
          <li
            id="criarProcessos"
            data-target="#add1"
            aria-expanded="false"
            class="active"
            >
            <b>Criar Processo</b>
          </li>
          <form id="add1">
            <div style="background: rgb(218, 218, 218)">
              <div style="text-align: left; margin-left: 15px">
                <label for="checkGerador"
                  ><input
                  type="checkbox"
                  id="checkbox"
                  name="checkbox"
                  [(ngModel)]="checkboxChecked"
                  (change)="randonNumbers()"
                  />
                Gerar processo com valores aleatórios?
                <!----></label
                >
              </div>
            </div>
            <div style="padding: 10px 16px 10px 16px">
              <div class="form-group">
                <input
                  placeholder="Processo*:"
                  type="text"
                  required
                  id="processo"
                  name="processo"
                  maxlength="1"
                  class="form-control"
                  style="text-transform: capitalize"
                  [(ngModel)]="processName"
                  />
              </div>
              <div class="form-group">
                <input
                  placeholder="Código*:"
                  type="number"
                  required
                  id="codigo"
                  name="codigo"
                  min="1"
                  maxlength="1"
                  class="form-control"
                  [(ngModel)]="codeNumber"
                  />
              </div>
              <div class="form-group">
                <input
                  placeholder="Dados*:"
                  type="number"
                  min="1"
                  required
                  id="dado"
                  name="dado"
                  class="form-control"
                  [(ngModel)]="dataNumber"
                  />
              </div>
              <div class="form-group">
                <input
                  placeholder="Pilha*:"
                  type="number"
                  min="1"
                  required
                  id="pilha"
                  name="pilha"
                  class="form-control"
                  [(ngModel)]="stackNumber"
                  />
              </div>
              <div id="botoes" style="text-align: center">
                <button
                  type="submit"
                  (click)="submitProcess()"
                  class="btn btn-success"
                  >
                  <i class="glyphicon glyphicon-plus-sign"></i>
                  Cadastrar</button
                  ><button type="reset" id="reset-btn" class="btn btn-danger">
                  <i class="glyphicon glyphicon-remove-sign"></i> Cancelar
                </button>
              </div>
            </div>
          </form>
        </ul>
        <ul aria-expanded="true" id="add3" class="sub-menu in 2">
          <li
            id="ListaProcessos"
            data-target="#add2"
            aria-expanded="false"
            class="active"
            >
            <b>Lista de Processos</b>
          </li>
          <div id="add2" class="row">
            <div class="col-lg-12">
              <div class="card">
                @for (item of processes(); track item; let i = $index) {
                  <div
                    class="card-body"
                    >
                    <span item="[object Object]"
                      ><button
                      id="btn-lat-{{ item.name }}"
                      (click)="showProcess(item.name)"
                      class="process-{{
                        i
                      }} btn btn-secondary btn-sm distancia-botao-processos"
                      style="font-weight: bold"
                      >
                      {{ item.name }}</button
                      ><button
                      (click)="removeProcess(i)"
                      class="glyphicon glyphicon-remove-sign btn btn-danger"
                      >
                      X</button
                      ><br
                    /></span>
                  </div>
                }
              </div>
            </div>
          </div>
        </ul>
      </ul>
    </div>
  </div>

  <div class="center">
    <div class="title-pag" style="width: 100%">
      <h1 class="htitle">
        Simulador de Gerenciamento de Memória com Segmentação
      </h1>
      <img class="i icon"
        (click)="showPopup(4)"
        src="assets/info_ico.png"
        alt="Ícone"
        width="24"
        height="24"
        style="vertical-align: middle"
        />
    </div>
    <button hidden type="submit" class="btn btn-success shoubtn">show</button>
    <div class="process">
      @for (item of processes(); track item; let i = $index) {
        <div class="proces">
          <span item="[object Object]"
            ><button
            id="btn-top-{{ item.name }}"
            (click)="showProcess(item.name)"
            class="process-{{
              i
            }} btn btn-secondary btn-sm distancia-botao-processos"
            >
            {{ item.name }}
          </button></span
          >
        </div>
      }
    </div>

    <div class="center-l">
      @for (item of processes(); track item; let i = $index) {
        <div class="contain">
          <div
            id="contain-{{ item.name }}"
            class="table{{ i }} tables left-page process-btns"
            >
            <div class="tablesL pr-1">
              <span
                ><div class="title-pag">
                <h4 class="title-center-b">Memória Lógica</h4>
                <img class="i icon"
                  (click)="showPopup(5)"
                  src="assets/info_ico.png"
                  alt="Ícone"
                  width="24"
                  height="24"
                  style="vertical-align: middle"
                  />
              </div>
              <h4 style="margin-top: 30px">Segmento 00 - Código</h4>
              <table class="table table-borderless table-memoria-fisica">
                <thead>
                  <tr>
                    <th>Deslocamento</th>
                    <th>Bytes</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of item.data[1]; track data; let i = $index) {
                    <tr>
                      <td [style.background-color]="whatColor(item.name + 'C')">
                        {{ data[0] }}
                      </td>
                      <td [style.background-color]="whatColor(item.name + 'C')">
                        {{ data[1] }}
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
              <h4>Segmento 01 - Dados</h4>
              <table class="table table-borderless table-memoria-fisica">
                <thead>
                  <tr>
                    <th>Deslocamento</th>
                    <th>Bytes</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of item.data[2]; track data; let i = $index) {
                    <tr>
                      <td [style.background-color]="whatColor(item.name + 'D')">
                        {{ data[0] }}
                      </td>
                      <td [style.background-color]="whatColor(item.name + 'D')">
                        {{ data[1] }}
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
              <h4>Segmento 10 - Pilha</h4>
              <table class="table table-borderless table-memoria-fisica">
                <thead>
                  <tr>
                    <th>Deslocamento</th>
                    <th>Bytes</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of item.data[3]; track data; let i = $index) {
                    <tr>
                      <td [style.background-color]="whatColor(item.name + 'P')">
                        {{ data[0] }}
                      </td>
                      <td [style.background-color]="whatColor(item.name + 'P')">
                        {{ data[1] }}
                      </td>
                    </tr>
                  }
                </tbody>
              </table></span
              >
            </div>
            <div class="tablesR pl-1">
              <div class="title-pag">
                <h4 class="title-center-b">Tabela de Segmentos</h4>
                <img class="i icon"
                  (click)="showPopup(6)"
                  src="assets/info_ico.png"
                  alt="Ícone"
                  width="24"
                  height="24"
                  style="vertical-align: middle"
                  />
              </div>
              <span
                ><table class="table table-borderless table-memoria-fisica">
                <thead>
                  <tr>
                    <th>Segmento</th>
                    <th>Base</th>
                    <th>Limite</th>
                  </tr>
                </thead>
                <tbody></tbody>
                <tbody>
                  @for (data of item.data[0]; track data; let i = $index) {
                    <tr>
                      <td
                      [style.background-color]="
                        whatColor(
                          item.name + (i === 0 ? 'C' : i === 1 ? 'D' : 'P')
                        )
                      "
                        >
                        {{ data[0] }}
                      </td>
                      <td
                      [style.background-color]="
                        whatColor(
                          item.name + (i === 0 ? 'C' : i === 1 ? 'D' : 'P')
                        )
                      "
                        >
                        {{ data[1] }}
                      </td>
                      <td
                      [style.background-color]="
                        whatColor(
                          item.name + (i === 0 ? 'C' : i === 1 ? 'D' : 'P')
                        )
                      "
                        >
                        {{ data[2] }}
                      </td>
                    </tr>
                  }
                </tbody>
              </table></span
              >
            </div>
          </div>
        </div>
      }
    </div>
    <div class="center-r">
      <div class="title-pag">
        <h4 class="title-center-b">Memória Física</h4>
        <img class="i icon"
          (click)="showPopup(7)"
          src="assets/info_ico.png"
          alt="Ícone"
          width="24"
          height="24"
          style="vertical-align: middle"
          />
      </div>
      <div class="tables">
        <div class="tablesL">
          <table class="table table-borderless table-memoria-fisica">
            <thead>
              <tr bgColor="fff">
                <th>Adress</th>
                <th>Byte</th>
              </tr>
            </thead>
            <tbody>
              @for (item of tableMemory; track item; let i = $index) {
                <tr>
                  @if (i <= 15) {
                    <td>{{ item[0] }}</td>
                    <td [style.background-color]="whatColor(item[2])">
                      {{ item[1] }}
                    </td>
                  }
                </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="tablesR">
          <table class="table table-borderless table-memoria-fisica">
            <thead>
              <tr bgColor="fff">
                <th>Adress</th>
                <th>Byte</th>
              </tr>
            </thead>
            <tbody>
              @for (item of tableMemory; track item; let i = $index) {
                <tr>
                  @if (i > 15) {
                    <td>{{ item[0] }}</td>
                    <td [style.background-color]="whatColor(item[2])">
                      {{ item[1] }}
                    </td>
                  }
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="popup">
  <div class="back" (click)="closePopup()"></div>
  <div class="pop-body">
    <span class="spbtn"
      ><button id="popup-close" (click)="closePopup()" class="btn btn-danger">
      X
    </button></span
    >
    <h1 id="popup-title">{{ popTitle }}</h1>
    <span id="popup-message">{{ popMessage }}</span>
  </div>
</div>
