<div class="tela-segmentacao">
  <div class="menu-lateral">
    <app-menu-lateral-segmentacao (cadastrarProcesso)="atualizarSegmentos($event)"></app-menu-lateral-segmentacao>
  </div>

  <div class="conteudo-principal">
    <h2 style="text-align: center;">Exercício de Segmentação</h2>

    <!-- Aqui os valores de segmentos são passados como Input para o componente que renderiza as tabelas -->
    <app-area-exercicio-segmentacao
      [codigo]="segmentos.codigo"
      [dados]="segmentos.dados"
      [pilha]="segmentos.pilha">
    </app-area-exercicio-segmentacao>

    <router-outlet></router-outlet>
  </div>
</div>