.tela-segmentacao {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.menu-lateral {
  width: 330px;
  background-color: #e7e7e7;
  border-right: 1px solid #ccc;
  padding: 0px;
  box-sizing: border-box;
  height: 100vh;
}

.conteudo-principal {
  flex-grow: 1;
  padding: 24px;
  overflow-y: auto;
  background-color: #fefefe;
}